# Pandas – poziom średniozaawansowany

In [ ]:
import pandas as pd

## Formaty danych

Wybrane formaty danych obsługiwane przez pandasa

In [ ]:
df = pd.DataFrame([[1, 2, 3], [10, 20, 30], [100, 200, 300]], columns=["A", "B", "C"])
df

**`csv`**

In [ ]:
df.to_csv("example.csv", index=None)

---

In [ ]:
df = pd.read_csv("example.csv")
df

**`xlsx`**

In [ ]:
df.to_excel("example.xlsx", index=None)

---

In [ ]:
df = pd.read_excel("example.xlsx")
df

**`json`**

In [ ]:
df.to_json("example.json")

---

In [ ]:
df = pd.read_json("example.json")
df

**`sql`**

In [ ]:
conn_str = "postgresql://postgres:postgres@localhost:5432/postgres"

In [ ]:
df.to_sql("example", conn_str, index=None, if_exists="replace")

---

In [ ]:
df = pd.read_sql("SELECT * FROM example", conn_str)
df

In [ ]:
df = pd.read_sql("SELECT \"A\", \"B\" FROM example", conn_str)
df

**`hdf5`**

HDF5 (Hierarchical Data Format version 5), w skrócie H5.

Binarny format przechowywania danych. Jest efektywny pod kątem optymalizacji wykorzystania storage'u oraz szybkości dostępu.

Jego zaletą jest to, że zachowuje formatowanie dataframe'a, np. typy kolumn. Formaty takie jak `.csv` mogą przechowywać wyłącznie informacje w postaci tekstu.

In [ ]:
df.to_hdf("example.h5", key="data")

---

In [ ]:
pd.read_hdf("example.h5")

---
---

In [ ]:
df1 = df * 2
df1.to_hdf("example.h5", key="data2")

---

In [ ]:
pd.read_hdf("example.h5")

In [ ]:
pd.read_hdf("example.h5", key="data2")

**`clipboard`**

In [ ]:
df.to_clipboard()

ctrl-v

---

In [ ]:
pd.read_clipboard()

https://rrogacz.pl/html-tabele

**Zadanie 1**

(czas: 8 min.)

---

Przetestuj zapis i odczyt danych z różnych formatów. Możesz poeksperymentować z parametrami omówionych funkcji.

In [ ]:
# ...

## Optymalizacja

Metody optymalizacji wykorzystania pamięci w pandasie

### Typy danych

In [ ]:
df = pd.read_csv("data/cars.csv")
df.head()

In [ ]:
df.dtypes

In [ ]:
df.memory_usage().sum() / 1024 / 1024  # MB of memory

In [ ]:
import numpy as np

In [ ]:
np.iinfo(np.int64)

In [ ]:
np.iinfo(np.int32)

In [ ]:
np.iinfo(np.int16)

In [ ]:
np.iinfo(np.int8)

---

In [ ]:
df.describe()

price - int32

engine_vol - int16

power - int16

prod_year - int16

mileage - int32

In [ ]:
df = pd.read_csv("data/cars.csv",
                 dtype={"price": np.int32, "engine_vol": np.int16, "power": np.int16, "prod_year": np.int16, "mileage": np.int32})
df.head()

In [ ]:
df = pd.read_csv("data/cars.csv",
                 dtype={"price": pd.Int32Dtype(), "engine_vol": pd.Int16Dtype(), "power": pd.Int16Dtype(),
                        "prod_year": pd.Int16Dtype(), "mileage": pd.Int32Dtype()})
df.head()

In [ ]:
df.dtypes

In [ ]:
df.memory_usage().sum() / 1024 / 1024

### Downcasting

Polega na konwersji typu na już utworzonym dataframie / szeregu

In [ ]:
df = pd.read_csv("data/cars.csv")
df.head()

In [ ]:
df.dtypes

In [ ]:
pd.to_numeric(df["price"], downcast="integer")

In [ ]:
pd.to_numeric(df["price"], downcast="float")

In [ ]:
pd.to_numeric(df["prod_year"], downcast="integer")

### Chunkowanie

Przydatne do wczytywania danych w chunkach a nie wszystkich naraz.

In [ ]:
import sys

In [ ]:
df = pd.read_csv("data/cars.csv")
sys.getsizeof(df) / 1024 / 1024  # całkowita pamięć zajmowana przez obiekt jest większa niż same dane w tabeli

In [ ]:
pd.read_csv("data/cars.csv", chunksize=10000)

In [ ]:
sys.getsizeof(pd.read_csv("data/cars.csv", chunksize=10000))

In [ ]:
for chunk in pd.read_csv("data/cars.csv", chunksize=10000):
    print(chunk.iloc[:, :4].head(1))
    print(round(sys.getsizeof(chunk) / 1024 / 1024, 2), "\n\n")

**Zadanie 1**

(czas: 8 min.)

---

Wczytaj dane z pliku `otodom_houses.csv` z takimi typami, które zminimalizują wykorzystanie pamięci.

In [ ]:
# ...

**Zadanie 2**

(czas: 5 min.)

---

Pobierz dane z pliku `otodom_houses.csv` w standardowy sposób a następnie zastosuj downcasting.

In [ ]:
# ...

**Zadanie 3**

(czas: 2 min.)

---

Wczytaj dane z pliku `otodom_houses.csv` w chunkach a następnie wykonaj na każdym chunku dowolne operacje.

In [ ]:
# ...

## Typy danych

### `datetime`

In [ ]:
pd.read_csv("data/cars.csv").dtypes

In [ ]:
pd.read_csv("data/cars.csv", parse_dates=["offer_timestamp"]).dtypes

In [ ]:
df = pd.read_csv("data/cars.csv", parse_dates=["offer_timestamp"])
df["offer_timestamp"]

In [ ]:
df["offer_timestamp"].dt

In [ ]:
df["offer_timestamp"].dt.month  # year, day, hour, ...

In [ ]:
df["offer_timestamp"].dt.to_pydatetime()

### `category`

In [ ]:
fuel_category = df["fuel"].astype("category")
fuel_category

In [ ]:
fuel_category.cat.codes

In [ ]:
fuel_category.cat.categories

In [ ]:
type(fuel_category[0])

## Przydatne funkcje

### `eval`

In [ ]:
df_ = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6]})
df_

In [ ]:
df_.eval('c = a + b', inplace=True)
df_

### `.str`

In [ ]:
df["fuel"].str.lower()

In [ ]:
df["brand"].str.startswith("K")

In [ ]:
df["title"].str.capitalize()

### `query`

Alternatywa dla filtrowania `df[df["..."]==..."]`

In [ ]:
df.query('130000 > price > 120000 and mileage < 1000')

### `filter`

Alternatywa dla notacji `df[["...", "..."]]`

In [ ]:
df.filter(["price", "currency", "color", "xyz"])

In [ ]:
df[["price", "currency", "color", "xyz"]]

### `pivot_table`

Podobne działanie do `groupby`

In [ ]:
df.pivot_table(index='fuel', values='price', aggfunc='mean')

### `transform`

Działa podobnie jak `apply`, ale dla każdej kolumny z osobna

In [ ]:
df_

In [ ]:
df_.transform(lambda x: x * 2)

In [ ]:
df_

### `assign`

Dodaje nową kolumnę i zwraca df.

In [ ]:
df_.assign(a_plus_b=lambda df: df["a"] + df["b"])

Poniższy zapis nie zwraca całego df-a

In [ ]:
df_.apply(lambda row: row["a"] + row["b"], axis=1)

## Łańcuchy przetwarzania danych

Przetwarzanie danych w pandasie często polega na pisaniu jednej długiej linii składającej się z kolejnych etapów przetwarzania.

Na początek zobaczmy head df-a.

In [ ]:
df.head()

---

Następnie można dorzucić filtrowanie.

In [ ]:
df[df["price"] > 3e4].head()

Aby przefiltrować kolumnę po pewnym zakresie używamy funkcji `between`

In [ ]:
df[df["price"].between(3e4, 1e5)].head()

Dla zmiennych kategorycznych przedziały pozwala przefiltrować `isin`

In [ ]:
df[(df["price"].between(3e4, 1e5)) & (df["fuel"].isin(["Diesel", "Benzyna"]))].head()

Każdy kolejny warunek łączony jest spójnikiem `&`

In [ ]:
df[(df["price"].between(3e4, 1e5)) & (df["fuel"].isin(["Diesel", "Benzyna"])) & (~df["body"].isin(["Sedan", "Kompakt"]))].head()

Zbyt długie linie można łamać w odpowiedni sposób.

In [ ]:
df[(df["price"].between(3e4, 1e5)) &
   (df["fuel"].isin(["Diesel", "Benzyna"]))  &
   (~df["body"].isin(["Sedan", "Kompakt"]))
].head()

Następnie dodamy filtrowanie kolumn.

In [ ]:
df[(df["price"].between(3e4, 1e5)) &
   (df["fuel"].isin(["Diesel", "Benzyna"]))  &
   (~df["body"].isin(["Sedan", "Kompakt"]))
].filter(["brand", "body", "price"]).head()

Jeżeli występuje kilka funkcji jedna po drugiej, można zapisać je w kolejnych liniach, jeżeli każdą zakończymy znakiem `\`

In [ ]:
df[(df["price"].between(3e4, 1e5)) &
   (df["fuel"].isin(["Diesel", "Benzyna"]))  &
   (~df["body"].isin(["Sedan", "Kompakt"]))
].filter(["brand", "body", "price"]) \
 .head()

Zamiast tego, do grupowania poleceń można użyć nawiasów okrągłych.

In [ ]:
(df[(df["price"].between(3e4, 1e5)) &
   (df["fuel"].isin(["Diesel", "Benzyna"]))  &
   (~df["body"].isin(["Sedan", "Kompakt"]))
].filter(["brand", "body", "price"])
 .head())

In [ ]:
(df[(df["price"].between(3e4, 1e5)) &
   (df["fuel"].isin(["Diesel", "Benzyna"]))  &
   (~df["body"].isin(["Sedan", "Kompakt"]))
].filter(["brand", "body", "price"])
 .rename({"brand": "Brand", "body": "Body", "price": "Price"}, axis=1)
 .head())

---

Podczas tworzenia pipeline'ów przetwarzających dane w pandasie czasami wykorzystujemy operator morsa (*walrus operator*) - `:=`

Jeżeli chcemy zdefiniować zmienną oraz się do niej odnieść, potrzebne są dwie linie kodu:

In [ ]:
a = 1
a

Aby zrobić to w jednej linii, możemy wykorzystać następujący zapis:

In [ ]:
(b := 2)

Dla pewności:

In [ ]:
b

In [ ]:
vc = df["fuel"].value_counts()

In [ ]:
(vc := df["fuel"].value_counts())

In [ ]:
import matplotlib.pyplot as plt

Używając morsa możemy w jednej linii stworzyć barplot oparty o wynik działania funkcji `value_counts`

In [ ]:
plt.bar((vc := df["fuel"].value_counts()).index, vc);

**Zadanie 1**

(czas: 7 min.)

---

Pobierz dane z pliku `otodom_houses.csv` a następnie wykonaj następujące operacje w ramach jednego ciągu instrukcji łącznie z pobraniem danych z pliku:

- przefiltruj tak aby pozostały domy powyżej 100 metrów kwadratowych
- wybierz kolumny: "price", "province"
- pogrupuj po województwie agregując średnią wartość ceny

In [ ]:
# ...

**Zadanie 2**

(czas: 6 min.)

---

Pobierz dane z pliku `otodom_houses.csv` a następnie wykonaj następujące operacje w ramach jednego ciągu instrukcji łącznie z pobraniem danych z pliku:

- przefiltruj wyłącznie takie domy, których powierzchnia stanowi ponad połowę powierzchni działki
- wyciągnij kolumny z powierzchnią domu oraz działki
- posortuj hierarchicznie po obu tych kolumnach (malejąco)
- wyciągnij pierwszych 10 wierszy

In [ ]:
# ...

**Zadanie 3**

(czas: 7 min.)

---

Pobierz dane z pliku `otodom_houses.csv` a następnie wykonaj następujące operacje w ramach jednego ciągu instrukcji łącznie z pobraniem danych z pliku:

- utwórz nową kolumnę `price_per_sqm`, która oblicza stosunek ceny do powierzchni domu
- posortuj dane malejąco po nowej kolumnie
- wyciągnij 1000 pierwszych wierszy
- wyciągnij informacje o województwie
- policz `value_counts()`

In [ ]:
# ...

## Polars

Polars jest biblioteką, która spełnia tę samą funkcje co pandas i korzystanie z niej jest bardzo podobne (mają podobne API). Polars jest jednak bardziej wydajne, przez co może się przydać kiedy pracujemy na większych danych.

https://pypi.org/project/polars/

### Quickstart

In [ ]:
import polars as pl

In [ ]:
df = pl.DataFrame({"a": [1, 2, 3], "b": [10, 20, 30], "c": [100, 200, 300]})

In [ ]:
df

In [ ]:
df["a"]

In [ ]:
type(df["a"])

In [ ]:
df.select("a")

In [ ]:
type(df.select("a"))

---

In [ ]:
df = pl.read_csv("data/cars.csv", null_values="NULL")
df.head()

In [ ]:
df["body"].value_counts()

---

In [ ]:
df.group_by("fuel").agg(pl.col("price").mean())

---

In [ ]:
df.head()

In [ ]:
df[2:4]

### Różnica w wydajności

**pandas**

In [ ]:
import time


n = 100_000_000
df_pandas = pd.DataFrame({
    'A': np.random.randint(0, 100, size=n),
    'B': np.random.randint(0, 1000, size=n)
})



start_time = time.time()

df_filtered = df_pandas[df_pandas['A'] > 50]
df_result = df_filtered.groupby('A').agg({'B': 'sum'})

pandas_time = time.time() - start_time

print(f"Execution time: {round(pandas_time, 3)} seconds")

**polars**

In [ ]:
n = 100_000_000
df_polars = pl.DataFrame({
    'A': np.random.randint(0, 100, size=n),
    'B': np.random.randint(0, 1000, size=n)
})


start_time = time.time()

df_filtered = df_polars.filter(pl.col('A') > 50)
df_result = df_filtered.group_by('A').agg(pl.col('B').sum())

polars_time = time.time() - start_time

print(f"Execution time: {round(polars_time, 3)} seconds")